@import "tailwindcss";

body {
}
// Css Projects
#project-img {
  width: 98vw;
}

#project-img h3 {
  font-family: "" Azeret Mono "", monospace;
  color: rgb(210, 202, 188);
  font-style: underline;
}

#project-img header,
#project-img footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-group-container {
  height: 300vh;
  position: relative;
}

.img-group-container > div {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100vh;
}

.img-group {
  display: flex;
}

.img-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#project-img header h2 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.img-container h3 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: relative;
  bottom: 30px;
  display: inline-block;
}

.img-container img {
  width: 700px;
  height: auto;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: black;
  bottom: 50px;
  transform: scaleX(0);
}
